<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JAVASCRIPT</title>
    <link rel="stylesheet" href="../../Static/css/javascript.css">
</head>
<body>
<header>
    <!---Javascript01--->
    <h1>JAVASCRIPT</h1>
    <div>
        <nav>
            <ul>
                <a href="../index.html">
                    <li>HOME</li>
                </a>
                <a href="../Html/cursohtml.html">
                    <li>HTML</li>
                </a>
                <a href="../css/style.html">
                    <li>CSS</li>
                </a>
                <a href="">
                    <li>PYTHON</li>
                </a>
                <a href="">
                    <li>JAVA</li>
                </a>
                <a href="">
                    <li>GIT & GITHUB</li>
                </a>
            </ul>
        </nav>
    </div>
</header>
<hr>
<br>
<h2>JavaScript para onde</h2>
<h3>A tag &#10094; script &#10095;</h3>
<p>Em <strong>HTML</strong>, o código <strong>JavaScript</strong> é inserido entre as tag <strong style="color: red;">&#10094; script &#10095;</strong> e <strong style="color: red;">&#10094; /script &#10095;</strong> .</p>
<div>
    <h3>Exemplo</h3>
    <div>
        <h2>JavaScript no corpo</h2>
        <p id="vam"></p>
    </div>
</div>
<h3>Funções e eventos JavaScript</h3>
<p>Um JavaScript <strong style="color: red;">function</strong> é um bloco de código <strong>JavaScript</strong>, que pode ser executado quando "chamado".</p>
<p>Por exemplo, uma função pode ser chamada quando ocorre um <strong>evento</strong>, como quando o usuário clica em um botão.</p>

<h3>JavaScript em &#10094; head &#10095; ou &#10094; body &#10095; </h3>
<p>Você pode colocar qualquer número de scripts em um documento <strong>HTML</strong>.</p>
<p>Os scripts podem ser colocados na seção <strong>&#10094; body &#10095;</strong>, ou na <strong>&#10094; head &#10095;</strong> seção de uma página <strong>HTML</strong>, ou em ambos.</p><br>
<p>A funcão é invocada (chamada) quando um botão é clicado:</p>
<div>
    <h3>Exemplo</h3>
    <div>
        <h2>Demo JavaScript in Head</h2>

        <p id="demo4" >A parágrafo</p>
        <button type="button" onclick="myFunction()">Try in</button>

    </div>
</div>
<h3>JavaScript externo</h3>
<p>Os scriptd também podem ser colocados em arquivos externos:</p>
<div>
    <h4>Arquivo externo: myScript.js</h4>
    <div>
        <strong>function</strong> myFunction() {<br>
            document.getElementById('demo').innerHTML = "Troca de Parágrafo"<br>        
        }
    </div>
</div>
<p>Scripts externos são práticos quando o mesmo código é usado em muitas páginas Web diferentes.</p>
<p>Os arquivos JavaScript têm a extensão de arquivo <strong>.js</strong>.</p>
<p class="mac">Para usar um script externo, coloque o nome do arquivo de script no <strong>src</strong> atributo (Source) de uma <strong>&#10094;script&#10095;</strong> tag:</p>
<div class="box1">
    <a href="javascript.html" class="buttonback">&#10094; Anterior</a>
    <a href="javascript02.html" class="buttonnext">Proximo &#10095;</a>

</div>
<script src="../../Static/script/javascript.js"></script>
<footer>
    <H4>Aprendendo javascript</H4>
</footer>
</body>
</html>