<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JAVASCRIPT</title>
    <link rel="stylesheet" href="../../Static/css/javascript.css">
</head>
<body>
<header>
    <h1>JAVASCRIPT</h1>
    <div>
        <nav>
            <ul>
                <a href="../index.html">
                    <li>HOME</li>
                </a>
                <a href="../Html/cursohtml.html">
                    <li>HTML</li>
                </a>
                <a href="../css/style.html">
                    <li>CSS</li>
                </a>
                <a href="">
                    <li>PYTHON</li>
                </a>
                <a href="">
                    <li>JAVA</li>
                </a>
                <a href="">
                    <li>GIT & GITHUB</li>
                </a>
            </ul>
        </nav>
    </div>
</header>
<hr>
<br>

<div class="box1">
    <a href="javascript.html" class="buttonback">&#10094; Anterior</a>
    <a href="javascript02.html" class="buttonnext">Proximo &#10095;</a>

</div>
<footer>
    <H4>Aprendendo javascript</H4>
</footer>
</body>
</html>